<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .output-img {
            width: 400px;

        }
    </style>
</head>
<body>
<form id="btn" method="POST" enctype="multipart/form-data" novalidate="novalidate" >
    <input type="file" id="file" name="myImage" accept="image/*" />
    <button type="submit" id=""> Submit</button>
</form>
<h2>Output Images</h2>
<div>
    <p id="out-img"></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

$('#btn').submit(function(e){
    e.preventDefault();
    var form = $('#btn')[0];
    var data = new FormData(form);
    console.log("insusdde",data)
    $.ajax({
    type: "POST",
    enctype: 'multipart/form-data',
    processData: false,  // Important!
    contentType: false,
    cache: false,
    url: "/image",
    data: data,
    success: function(data){
        console.log("data is ")
        console.log(data.data)
        // $('out-img').remove();
        $('#out-img').html("");
        $.each(data.data, function(key,value){
            $('#out-img').append(`<img src="`+value+`" class="output1-img"/>`)

        });
    },
    error :function(data){
        console.log("data is2 ")
        console.log( )
    },
    });
});

    
</script>
</body>

</html>